{% extends 'base.html' %}

{% block empleos_destacados %}
	<div class="form-dialog">
		<h3>Cuenta corporativa</h3>
		<form id="form-ingresar" method="post" action='{% url main.views.empresa_ingresar %}'>{% csrf_token %}
			{{formulario.as_p}}
			<input type="checkbox" checked /><span>Seguir conectado</span>
			<p>
				<input id='btn-ingresar-postulante' type='submit' value='Ingresar' />
				<!--<a href="" class='rcd'>Recuperar tu contraseña</a>-->
			</p>
		</form>
	</div>
	<div class="line_v"></div>
	<div class="form-dialog form-dialog-right">
		<h3>No tienes cuenta</h3>
		<input type="button" value="Crea tu cuenta" onclick="window.location.href='/empresa/crear'" /><br>
	</div>
{% endblock %}
{% block registro_rapido %}{% endblock %}