{% extends 'base.html' %}
{% block empleos_destacados %}
	<h4>Nuestros Clientes</h4>
	<hr>
	<div class='cliente borde-redondo'><img src="http://www.coopsolconsultoria.com/fotos/bbva.gif" style="margin-top: 35px;"></div>
	<div class='cliente borde-redondo'><img src="http://www.coopsolconsultoria.com/fotos/messer.gif" style="margin-top: 15px;"></div>
	<div class='cliente borde-redondo'><img src="http://www.coopsolconsultoria.com/fotos/famesa.jpg" style="margin-top: 15px;"></div>
	<div class='cliente borde-redondo'><img src="http://www.coopsolconsultoria.com/fotos/rey.png"></div>
	<div class='cliente borde-redondo'><img src="http://www.coopsolconsultoria.com/fotos/acfarma.png" style="margin-top: 35px;"></div>
	<div class='cliente borde-redondo'><img src="http://www.coopsolconsultoria.com/fotos/alicorp.gif" style="margin-top: 35px;"></div>
	<div class='cliente borde-redondo'><img src="http://www.coopsolconsultoria.com/fotos/pecsa.gif" style="margin-top: 35px;"></div>
	<div class='cliente borde-redondo'><img src="http://www.coopsolconsultoria.com/fotos/industrias.GIF" style="margin-top: 35px;"></div>
{% endblock %}