/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */
body {font-family: "Georgia", "Times New Roman", Times, serif; background: url('../images/bg.png') repeat;}

.container { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.container .header { width: 960px; }
.container .header .logo {margin-top: 5px;}
.container .header, .container .column { float: left; display: inline;}
.container .header-right, 
.container .header-right .fecha{width: 400px; float: right; text-align: right; margin-bottom: 5px;}
.container .menu {float: right;}
.container .menu a {background-color: #fff; border: 1px solid #ccc; display: block; margin-top: 5px; float: left; text-align: center; padding: 3px 7px; margin-left: 3px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
.container .menu a:hover {color: #369;}
.container .txt-buscar,
.container .btn-buscar {float: left; margin-top: 10px; font-size: 15px; font-weight: bold;}
.container .txt-buscar {padding-left: 10px; width: 839px; height: 25px; text-transform: uppercase;}
.container .btn-buscar {width: 100px; margin-left: 5px;}

.container .col-right { width: 205px; }
.container .col-right .col-bloque { width: 205px; margin-bottom: 10px;}
.container .col-center { width: 733px; }
.container .col-center .col-avanzado { width: 212px; height: 250px; margin-right: 10px;}

.container .borde-redondo {background-color: #fff; border: 1px solid #ccc; padding: 5px 10px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}

.container .criterios {width: 720px; margin-bottom: 13px; margin-top: 3px;}
.container .criterios a {background-color: #fff; border: 1px solid #ccc; width: 120px; text-align: center; padding: 5px 20px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
/*.container .criterios .options {display: none;} Ocultar busqueda opciones*/

.container .col-avanzado {margin-bottom: 10px;} /*Ocultar busqueda avanzada*/
.container .col-avanzado ul {height: 155px;}

.container .col-center .col-avanzado-2 {display: none; width: 700px; margin-right: 10px; margin-bottom: 10px;}

.container .ver-mas {width: 200px; text-align: right; margin-top: -5px;}

.container .resultados {width: 700px; margin-bottom: 10px;}
.container .resultado {float: left;}
.container .resultado .imagen img {border: 1px solid #ccc; width: 110px; height: 80px; margin-bottom: 5px;}
.container .resultado .oferta,
.container .resultado .empresa,
.container .resultado .direccion {width: 580px; margin-left: 5px;}
.container .resultado .oferta h5 {text-transform: uppercase; font-weight: bold; color: #369; letter-spacing: 2px;}
.container .resultado .empresa {font-size: 16px; text-transform: uppercase;}
.container .resultado .tiempo {float: right;}

.text-center {width: 100%; text-align: center;}
.form-registro input[type="text"] {width: 195px}
.form-registro input[type="submit"],
.form-registro input[type="button"] {width: 204px; font-size: 15px;}
.form-registro .tyc {font-size: 10px;}
.form-registro .tyc a {text-decoration: underline;}

.form-registro .rc {font-size: 12px;}
.form-registro .rc a {text-decoration: underline;}

.footer {margin-bottom: 5px; width: 938px; height: 170px; text-align: center;}
.footer .menu-pie-top {width: 100%; height: 73%;}
.footer .menu-pie-bottom {width: 100%;}
.footer .menu-pie {float: left; width: 25%; text-align: left;}
.footer .menu-pie hr {margin: 5px 0; width: 80%;}


.footer .menu-pie-bottom span {font-size: 11px;}

.container .header-right .menu a.lblUsuario {border: 0; color: #369; background: transparent;}

.container .perfil {position: relative; float: left;}
.container .perfil.imagen img {width: 160px; height: 180px; border: 1px solid #ccc; margin-top: 5px;}
.container .perfil.imagene img {width: 160; height: 180px; border: 1px solid #ccc; margin-top: 5px;}
/*.container .perfil.imagene img {width: 110; height: 80px; border: 1px solid #ccc; margin-top: 5px;}*/
.container .perfil.nombre,
.container .perfil.email {width: 490px; margin-left: 10px; margin-bottom: 7px;}
.container .perfil.nombre span,
.container .perfil.email span {font-weight: bold; width: 100%; display: inline-block;}

.container .resultados h5 {float: left;}
.container .resultados hr.p {width: 72%;}

.container .resultados div.estudios.institucion {font-weight: bold; font-size: 1.3em; color: #369; text-transform: capitalize;}
.container .resultados div.empleos.empresa {font-weight: bold; font-size: 1.3em; color: #369; text-transform: capitalize;}

.container .resultados div.estudios.carrera,
.container .resultados div.estudios.periodo,
.container .resultados div.empleos.cargo,
.container .resultados div.empleos.periodo
 {font-weight: bold; font-size: 1em; text-transform: capitalize;}

.container .resultados div.empleos.email {font-weight: bold; font-size: 1em; text-transform: lowercase;}
.container .resultados div.perfil.nombre {text-transform: capitalize;}
.container .resultados div.perfil.sobremi span {font-weight: bold; width: 130px; display: inline-block;}
.container .perfil.sobremi {width: 490px; margin-left: 10px; margin-bottom: 7px;}

div.empleos.empresa a {font-size: 18px; color: #369; letter-spacing: 2px; text-transform: uppercase;}

.minuscula {text-transform: lowercase;}
.text-center {text-align: center;}

span.tyc {font-size: 12px;}
span.tyc a {text-decoration: underline;}

div.empleo.empresa,
div.empleo.empresa a {font-weight: bold; font-size: 1.2em; color: #369; text-transform: capitalize; letter-spacing: 2px;}
div.empleo.email,
div.empleo.cargo {font-weight: bold; font-size: 1em; text-transform: capitalize;}
div.empleo.email {text-transform: lowercase;}
span.tituleleft {display: inline-block; width: 180px;}
div span.etiqueta {font-size: 1em; color: #000;}

div.postulando {font-size: 1.5em; color: #f00; margin-bottom: 10px; text-align: center;}

a.fondomail {background-image: url('../images/mail.png'); width: 29px; height: 22px;}
a span.mensaje {font-size: 1.4em; color: #f00; font-weight: bold; font-family: arial}

table.cnt-mensajes {width: 100%; margin-top: 40px;}
table.cnt-mensajes tr {max-height: 25px;}
table.cnt-mensajes tr.mensajes {border-top: 1px solid #ccc; }
table.cnt-mensajes td.remitente {width: 30%;}
table.cnt-mensajes td.asunto {width: 60%; overflow: hidden; outline: none}
table.cnt-mensajes td.fechamensaje {width: 10%; text-align: right;}
table.cnt-mensajes td span {font-weight: normal; color: #777;}

table.cnt-mensajes .sin-leer {font-weight: bold;}
table.cnt-mensajes .leido {font-weight: normal; background: rgba(243,243,243,.85);}

table.cnt-mensajes tr:hover {background-color: #ffc;}

a.icono-texto {color: #f00; font-size: 0.6em;}

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.container {position: relative; width: 100%; margin: 0 auto; padding: 0;}
		.container .header { width: 100%; }
		.container .header .logo {margin-top: 5px;}
		.container .header, .container .column { float: left; display: inline;}
		.container .header-right, 
		.container .header-right .fecha{width: 400px; float: right; text-align: right; margin-bottom: 5px;}
		.container .menu {float: right;}
		.container .menu a {background-color: #fff; border: 1px solid #ccc; display: block; margin-top: 5px; float: left; text-align: center; padding: 3px 7px; margin-left: 3px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
		.container .menu a:hover {color: #369;}
		.container .txt-buscar,
		.container .btn-buscar {float: left; font-size: 15px; font-weight: bold;}
		.container .txt-buscar {width: 87%; height: 25px; text-transform: uppercase;}
		.container .btn-buscar {width: 10%;}

		.container .criterios {display: none;}
		.container .criterios .options {display: none;} /*Ocultar busqueda opciones*/
		.container .col-avanzado {display: none; margin-bottom: 10px;} /*Ocultar busqueda avanzada*/

		.container .col-right {display: none;}
		.container .col-right .col-bloque { width: 205px; margin-bottom: 10px;}
		.container .col-center { width: 100%; margin: 0;}

		.container .resultados {width: 100%; margin: 0 0 10px; padding: 5px 0}
		.container .resultados .count {padding: 0px;}
		.container .resultados .count strong {padding-right: 5px;}
		.container .resultado {float: left;}
		.container .resultado .imagen img {border: 1px solid #ccc; width: 110px; height: 80px; margin-bottom: 5px;}
		.container .resultado .oferta,
		.container .resultado .empresa,
		.container .resultado .direccion {margin: 0;}
		.container .resultado .oferta h5 {text-transform: uppercase; font-weight: bold; color: #369; letter-spacing: 2px;}
		.container .resultado .empresa {font-size: 16px; text-transform: uppercase;}
		.container .resultado .tiempo {float: right; margin-right: 10px;}

		.container .borde-redondo {background-color: #fff; border: 1px solid #ccc; padding: 5px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
		.footer {margin-bottom: 5px; width: 100%; height: 23px; text-align: center; margin: 0;}
		.footer span {font-size: 11px;}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.container {position: relative; width: 100%; margin: 0 auto; padding: 0;}
		.container .header { width: 100%; }
		.container .header .logo {margin-top: 5px;}
		.container .header, .container .column { float: left; display: inline;}
		.container .header-right, 
		.container .header-right .fecha{width: 400px; float: right; text-align: right; margin-bottom: 5px;}
		.container .menu {float: right;}
		.container .menu a {background-color: #fff; border: 1px solid #ccc; display: block; margin-top: 5px; float: left; text-align: center; padding: 3px 7px; margin-left: 3px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
		.container .menu a:hover {color: #369;}
		.container .txt-buscar,
		.container .btn-buscar {float: left; font-size: 15px; font-weight: bold;}
		.container .txt-buscar {width: 87%; height: 25px; text-transform: uppercase;}
		.container .btn-buscar {width: 10%;}

		.container .criterios {display: none;}
		.container .criterios .options {display: none;} /*Ocultar busqueda opciones*/
		.container .col-avanzado {display: none; margin-bottom: 10px;} /*Ocultar busqueda avanzada*/

		.container .col-right {display: none;}
		.container .col-right .col-bloque { width: 205px; margin-bottom: 10px;}
		.container .col-center { width: 100%; margin: 0;}

		.container .resultados {width: 100%; margin: 0 0 10px; padding: 5px 0}
		.container .resultados .count {padding: 0px;}
		.container .resultados .count strong {padding-right: 5px;}
		.container .resultado {float: left; width: 100%;}
		.container .resultado .imagen {width: 14%;}
		.container .resultado .imagen img {border: 1px solid #ccc; width: 110px; height: 80px; margin-bottom: 5px;}
		.container .resultado .oferta,
		.container .resultado .empresa,
		.container .resultado .direccion {width: 85%}
		.container .resultado .oferta h5 {text-transform: uppercase; font-weight: bold; color: #369; letter-spacing: 2px;}
		.container .resultado .empresa {font-size: 16px; text-transform: uppercase;}
		.container .resultado .tiempo {float: right; margin-right: 10px; text-align: right;}

		.container .borde-redondo {background-color: #fff; border: 1px solid #ccc; padding: 5px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
		.footer {margin-bottom: 5px; width: 100%; height: 23px; text-align: center; margin: 0;}
		.footer span {font-size: 11px;}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.container {position: relative; width: 100%; margin: 0 auto; padding: 0;}
		.container .header { width: 100%; }
		.container .header .logo {margin-top: 5px;}
		.container .header, .container .column { float: left; display: inline;}
		.container .header-right, 
		.container .header-right .fecha{width: 400px; float: right; text-align: right; margin-bottom: 5px;}
		.container .menu {float: right;}
		.container .menu a {width: 150px; background-color: #fff; border: 1px solid #ccc; display: block; margin-top: 5px; float: left; text-align: center; padding: 3px 7px; margin-left: 3px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px;}
		.container .menu a:hover {color: #369;}
		.container .txt-buscar,
		.container .btn-buscar {float: left; font-size: 18px; font-weight: bold; margin: 0; padding: 5px 0;}
		.container .txt-buscar {width: 100%; height: 25px; text-transform: uppercase;}
		.container .btn-buscar {width: 100%;}

		.container .criterios {display: none;}
		.container .criterios .options {display: none;} /*Ocultar busqueda opciones*/
		.container .col-avanzado {display: none; margin-bottom: 10px;} /*Ocultar busqueda avanzada*/

		.container .col-right {display: none;}
		.container .col-right .col-bloque { width: 205px; margin-bottom: 10px;}
		.container .col-center { width: 100%; margin: 0;}

		.container .resultados {width: 100%; margin: 0 0 10px; padding: 5px 0}
		.container .resultados .count {padding: 0px;}
		.container .resultados .count strong {padding-right: 5px;}
		.container .resultado {float: left; width: 100%;}
		.container .resultado .imagen {width: 25%;}
		.container .resultado .imagen img {border: 1px solid #ccc; width: 110px; height: 80px; margin-bottom: 5px;}
		.container .resultado .oferta,
		.container .resultado .empresa,
		.container .resultado .direccion {width: 75%}
		.container .resultado .oferta h5 {text-transform: uppercase; font-weight: bold; color: #369; letter-spacing: 2px;}
		.container .resultado .empresa {font-size: 16px; text-transform: uppercase;}
		.container .resultado .tiempo {float: right; margin-right: 10px; text-align: right;}

		.container .borde-redondo {background-color: #fff; border: 1px solid #ccc; padding: 5px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
		.footer {margin-bottom: 5px; width: 100%; height: 23px; text-align: center; margin: 0;}
		.footer span {font-size: 11px;}
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	}

	@media only screen and (min-width: 320px) and (max-width: 479px) {
		.container {position: relative; width: 100%; margin: 0 auto; padding: 0;}
		.container .header { width: 100%; }
		.container .header .logo {margin-top: 5px;}
		.container .header, .container .column { float: left; display: inline;}
		.container .header-right, 
		.container .header-right .fecha{width: 100%; float: right; text-align: right; margin-bottom: 5px;}
		.container .menu {width: 100%;}
		.container .menu a {width: 49%; background-color: #fff; border: 1px solid #ccc; display: block; margin: 5px auto 0; float: left; text-align: center; padding: 5px 0; font-size: 18px;}
		.container .menu a:hover {color: #369;}
		.container .txt-buscar,
		.container .btn-buscar {float: left; font-size: 15px; font-weight: bold; margin: 0; padding: 5px 0;}
		.container .txt-buscar {width: 100%; height: 25px; text-transform: uppercase;}
		.container .btn-buscar {width: 100%;}

		.container .criterios {display: none;}
		.container .criterios .options {display: none;} /*Ocultar busqueda opciones*/
		.container .col-avanzado {display: none; margin-bottom: 10px;} /*Ocultar busqueda avanzada*/

		.container .col-right {display: none;}
		.container .col-right .col-bloque { width: 205px; margin-bottom: 10px;}
		.container .col-center { width: 100%; margin: 0;}

		.container .resultados {width: 100%; margin: 0 0 10px; padding: 5px 0}
		.container .resultados .count {padding: 0;}
		.container .resultados .count strong {padding-right: 5px;}
		.container .resultado {float: left; width: 100%;}
		.container .resultado .imagen {width: 25%;}
		.container .resultado .imagen img {border: 1px solid #ccc; width: 110px; height: 80px; margin-bottom: 5px;}
		.container .resultado .oferta,
		.container .resultado .empresa,
		.container .resultado .direccion {width: 70%}
		.container .resultado .oferta h5 {text-transform: uppercase; font-weight: bold; color: #369; letter-spacing: 2px;}
		.container .resultado .empresa {font-size: 16px; text-transform: uppercase;}
		.container .resultado .tiempo {float: right; margin-right: 10px; text-align: right;}

		.container .borde-redondo {background-color: #fff; border: 1px solid #ccc; padding: 5px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
		.footer {margin-bottom: 5px; width: 100%; height: 23px; text-align: center; margin: 0;}
		.footer span {font-size: 11px;}
	}

	@media only screen and (max-width: 319px) {
		.container {position: relative; width: 100%; margin: 0 auto; padding: 0;}
		.container .header { width: 100%; }
		.container .header .logo {margin-top: 5px; width: 100%;}
		.container .header, .container .column { float: left; display: inline;}
		.container .header-right, 
		.container .header-right .fecha{width: 400px; float: right; text-align: right; margin-bottom: 5px;}
		span.fecha {display: none;}
		.container .menu {width: 100%;}
		.container .menu a {width: 49%; background-color: #fff; border: 1px solid #ccc; display: block; margin: 5px auto 0; float: left; text-align: center; padding: 5px 0; font-size: 14px;}
		.container .menu a:hover {color: #369;}
		.container .txt-buscar,
		.container .btn-buscar {float: left; font-size: 15px; font-weight: bold; margin: 0; padding: 5px 0;}
		.container .txt-buscar {width: 100%; height: 25px; text-transform: uppercase;}
		.container .btn-buscar {width: 100%;}

		.container .criterios {display: none;}
		.container .criterios .options {display: none;} /*Ocultar busqueda opciones*/
		.container .col-avanzado {display: none; margin-bottom: 10px;} /*Ocultar busqueda avanzada*/

		.container .col-right {display: none;}
		.container .col-right .col-bloque { width: 205px; margin-bottom: 10px;}
		.container .col-center { width: 100%; margin: 0;}

		.container .resultados {width: 100%; margin: 0 0 10px; padding: 5px 0}
		.container .resultados .count {padding: 0;}
		.container .resultados .count strong {padding-right: 5px;}
		.container .resultado {float: left; width: 100%;}
		.container .resultado .imagen {width: 25%; display: none;}
		.container .resultado .imagen img {border: 1px solid #ccc; width: 110px; height: 80px; margin-bottom: 5px;}
		.container .resultado .oferta,
		.container .resultado .empresa,
		.container .resultado .direccion {width: 100%}
		.container .resultado .oferta h5 {text-transform: uppercase; font-weight: bold; color: #369; letter-spacing: 2px;}
		.container .resultado .empresa {font-size: 16px; text-transform: uppercase;}
		.container .resultado .tiempo {float: right; margin-right: 10px; text-align: right;}

		.container .borde-redondo {background-color: #fff; border: 1px solid #ccc; padding: 5px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;}
		.footer {margin-bottom: 5px; width: 100%; height: 46px; text-align: center; margin: 0;}
		.footer span {font-size: 11px;}
	}

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/