{% load staticfiles %}

<html>
    <head>
        <title>Supervisor</title>
        <link rel="stylesheet" type="text/css" href="{% static "extjs4/resources/css/ext-all.css" %}">
        <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/precarga.css">
        {% if EXTJS4_DEBUG %}
            <script type="text/javascript" src="{% static "extjs4/ext-debug.js" %}"></script>
            <script type="text/javascript" src="{{STATIC_URL}}sup/app.js"></script>
        {% else %}
            <script type="text/javascript" src="{% static "extjs4/ext.js" %}"></script>
            <script type="text/javascript" src="{{STATIC_URL}}sup/app.js"></script>
        {% endif %}
        <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico">
    </head>
    <body>
    <div id="loading-mask" style=""></div>
    <div id="loading">
        <div class="loading-indicator">
            <img src="{{STATIC_URL}}images/cargando.gif" width="32" height="32" style="margin-right: 8px; float: left; vertical-align: top;" />Coopsol Empleos - <a href="http://www.coopsolempleos.com">coopsolempleos.com</a>
            <br /><span id="loading-msg">Cargando...</span>
        </div>
    </div>
    </body>
</html>